body{
  text-align: center;
  margin: 0 auto;
  background-image: url("../../assets/cafeinsanoui.gif");
  background-size: cover ; 
  background-repeat: no-repeat; 
  background-position: center ;
  background-attachment: fixed;
}

.Treinador{
  text-align: center;
  box-align: center;
  padding: auto;
  height:auto;
  width:270px;
  background: radial-gradient(rgb(163, 163, 163) , rgb(67, 67, 67));
  border-radius: 10px;
  box-shadow: 0px 10px 10px #000000;
}

.pokebolas{
  background-image: url("../../assets/pokebola.png");
  width: 89px;
  height: 89px;
  background-size: cover ;
  background-position: center;
  background-color: transparent;
  border: transparent;  
  cursor: pointer;
}

.pokebolas:hover{
  transition: transform 0.3s ease;
  transform: translateY(-10px);
}


.irparaoutrocoiso{

  width: 200px;
  height: 70x;
  background-size: cover ;
  background-position: center;
  background-color: transparent;
  border: transparent;  
  cursor: pointer;
  background: linear-gradient( rgb(255, 0, 0) , rgb(0, 0, 0),  rgb(255, 255, 255) );
  border-radius: 10px;
  box-shadow: 0px 10px 10px #000000;
  color: #ffffff;
}
.irparaoutrocoiso:hover{
    transition: transform 0.3s ease;
  transform: translateY(-10px);
}