.pokemon-carta{
  background:white;
  border: 2px solid transparent;
  text-transform: capitalize;
  border-radius: 10px;
  text-align: center;
  box-align: center;
  padding: 1%;
  height:380px;
  width:240px;
  margin: 0 auto;
  width: 240px;
  height: auto;
}

.App{
  color: #ffffff;
  text-shadow: #000000 2px 2px 2px;
}


.sprite{
  flex: absolute;
  position: center;
  height: auto;
  width: 130px;
} 


/*Aba para customização de cartas de grama*/

.pokemon-carta.grass{
  background: radial-gradient(rgb(4, 151, 90) , rgb(39, 255, 115));
  box-shadow: 5px 5px 5px #063f01;
}


.tipo-pokemon1.grass{
  color: #248600;
  text-shadow: 1px 1px 1px #000000;
}
.nome-pkm.grass{
  font-size: 30px;
  text-shadow: 1px 1px 1px #000000;
  color:rgb(0, 255, 0);
}

.palavras.grass{
  text-shadow: 1px 1px 1px #000000;
  color:rgb(0, 179, 0);
}
 

/*Aba para customização de cartas de água 💧*/
.pokemon-carta.water{
  background: radial-gradient(#00b0cf, rgb(55, 84, 110));

  box-shadow: 5px 5px 5px #013b3f;
}

  .tipo-pokemon1.water{
  color: #55e5ff;
  text-shadow: 1px 1px 1px #000000;
}
.nome-pkm.water{

  font-size: 30px;
  text-shadow: 1px 1px 1px #000000;
  color:rgb(123, 202, 255);
}

.palavras.water{
  text-shadow: 1px 1px 1px #000000;
  color:rgb(78, 190, 255);
}

/*Aba para customização de cartas de fogo 🔥*/
.pokemon-carta.fire{
  background: radial-gradient(#ffbe25, rgb(206, 141, 62));
  box-shadow: 5px 5px 5px #3f2b01;
}

  .tipo-pokemon1.fire{
  color: #ffb055;
  text-shadow: 1px 1px 1px #000000;
}
.nome-pkm.fire{

  font-size: 30px;
  text-shadow: 1px 1px 1px #000000;
  color:rgb(255, 110, 27);
}

.palavras.fire{
  text-shadow: 1px 1px 1px #000000;
  color:rgb(214, 104, 30);
}

/*Aba para customização de cartas de normal*/

.pokemon-carta.normal{
  background: radial-gradient(#686868, rgb(54, 54, 54));
  box-shadow: 5px 5px 5px #1a1a1a;
}

  .tipo-pokemon1.normal{
  color: #c4c4c4;
  text-shadow: 1px 1px 1px #000000;
}
.nome-pkm.normal{

  font-size: 30px;
  text-shadow: 1px 1px 1px #000000;
  color:#e0e0e0;
}

.palavras.normal{
  text-shadow: 1px 1px 1px #000000;
  color:#cfcfcf;
}
