


.sprite2{
  flex: absolute;
  position: center;
  height: auto;
  width: 100px;
} 

.pkm-pokemon-card2{
  text-transform: capitalize;
  text-align: center;
  box-align: center;
  padding: 1%;
  height:380px;
  width:240px;
  margin: 0 auto;
  background: radial-gradient(#00b0cf, rgb(55, 84, 110));
  border-radius: 10px;
  box-shadow: 5px 5px 5px #013b3f;
}

.tipo-pokemon2{
  color: #55e5ff;
  text-shadow: 1px 1px 1px #000000;
}
.nome-pkm2{

  font-size: 30px;
  text-shadow: 1px 1px 1px #000000;
  color:rgb(123, 202, 255);
}

.palavras2{
  text-shadow: 1px 1px 1px #000000;
  color:rgb(78, 190, 255);
}