
.sprite{
  flex: absolute;
  position: center;
  height: auto;
  width: 100px;
} 

.pokemon-card{
  text-transform: capitalize;
  text-align: center;
  box-align: center;
  padding: 1%;
  height:380px;
  width:240px;
  margin: 0 auto;
  background: radial-gradient(rgb(4, 151, 90) , rgb(39, 255, 115));
  border-radius: 10px;
  box-shadow: 5px 5px 5px #063f01;
}

.tipo-pokemon1{
  color: #248600;
  text-shadow: 1px 1px 1px #000000;
}
.nome-pkm{

  font-size: 30px;
  text-shadow: 1px 1px 1px #000000;
  color:rgb(5, 255, 5);
}

.palavras{
  text-shadow: 1px 1px 1px #000000;
  color:rgb(0, 179, 0);
}